<!DOCTYPE HTML>
<html>
<head>
    <title>TEST</title>
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0, text/html;charset=UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/style/css/webFont.css" rel="stylesheet">
</head>
<body>
<div style="display:flex; justify-content: center">
    <h1>TEST ( 등록 )</h1>
</div>
<br>
<hr>
<br>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="empno">EmpNo</label>
                <input type="text" class="form-control" id="empno" placeholder="Type EmpNo">
            </div>
            <br>
            <div class="form-group">
                <label for="hanName">HanName</label>
                <input type="text" class="form-control" id="hanName" placeholder="Type HanName">
            </div>
            <br>
            <div class="form-group">
                <label for="dilceGbcd">DilceGbcd</label>
                <input type="text" class="form-control" id="dilceGbcd" placeholder="Type DilceGbcd">
            </div>
            <br>
            <div class="form-group">
                <label for="dilceSdate">DilceSdate</label>
                <input type="text" class="form-control" id="dilceSdate" placeholder="Type DilceSdate">
            </div>
            <br>
            <div class="form-group">
                <label for="dilceEdate">DilceEdate</label>
                <input type="text" class="form-control" id="dilceEdate" placeholder="Type DilceEdate">
            </div>
            <br>
            <div class="form-group">
                <label for="realDate">RealDate</label>
                <input type="number" class="form-control" id="realDate" placeholder="Type RealDate">
            </div>
            <br>
            <div class="form-group">
                <label for="perdilStime">PerdilStime</label>
                <input type="text" class="form-control" id="perdilStime" placeholder="Type PerdilStime">
            </div>
            <br>
            <div class="form-group">
                <label for="perdilEtime">PerdilEtime</label>
                <input type="text" class="form-control" id="perdilEtime" placeholder="Type PerdilEtime">
            </div>
            <br>
            <div class="form-group">
                <label for="restStime">RestStime</label>
                <input type="text" class="form-control" id="restStime" placeholder="Type RestStime">
            </div>
            <br>
            <div class="form-group">
                <label for="restEtime">RestEtime</label>
                <input type="text" class="form-control" id="restEtime" placeholder="Type RestEtime">
            </div>
            <br>
            <div class="form-group">
                <label for="realTime">RealTime</label>
                <input type="text" class="form-control" id="realTime" placeholder="Type RealTime">
            </div>
            <br>
            <div class="form-group">
                <label for="reqRetn">ReqRetn</label>
                <input type="text" class="form-control" id="reqRetn" placeholder="Type ReqRetn">
            </div>
            <br>
            <div class="form-group">
                <label for="userLevel">UserLevel</label>
                <input type="number" class="form-control" id="userLevel" placeholder="Type UserLevel">
            </div>
            <br>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
<!-- jquery & bootstrap script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- index.js -->
<script src="/js/app/index.js"></script>
</body>
</html>